<template>
  <div>
    <div v-for="link of links" :key="link.url">
      <p>[{{ new Date(link.checkDate).toLocaleString() }}] {{ link.inn }} : {{ link.checkResult ? "корректен" : "некорректен" }}</p>
    </div>
  </div>
</template>

<script>
import { Socket } from "phoenix-socket";
export default {
  name: "List",
  mounted() {
    let socket = new Socket("ws://192.168.1.152:4000/socket");
    socket.connect();
    this.channel = socket.channel("inn_channel:lobby", {});

    this.channel
      .join()
      .receive("ok", resp => {
        console.log("List Joined successfully", resp);
        this.links = JSON.parse(resp.list);
      })
      .receive("error", resp => {
        console.log("List Unable to join", resp);
      });

    this.channel.on("shout", payload => {
      console.log("Shout from Phoenix", payload);
      const { checkDate, inn, checkResult } = payload;
      this.links.unshift({ checkDate, inn, checkResult });
    });
    this.channel.on("locked", payload => {
      console.log("Locked from Phoenix", payload);
    });
  },
  data() {
    return {
      links: []
    };
  }
};
</script>
