<template>
  <div id="app">
    <h2>Введите ИНН для проверки</h2>
    <Form />
    <List />
  </div>
</template>

<script>
import Form from "../src/components/Form";
import List from "../src/components/List";

export default {
  name: "app",
  components: {
    Form,
    List
  }
};
</script>
